.electric-cmp {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
  text-align: center;

  .drawing {
    margin-top: 2px;
    font-size: 25px;
    color: rgb(247, 246, 239);
  }
}
