.water-work-cmp {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  .containerr {
    .drawing {
      // margin-top: 20px;
      font-size: 20px;
      color: #e90d0d;
    }
  }
}
